@import "../../common/variables";

form {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  p {
    color: darkgray;
    text-align: center;
    font-size: 24px;
    margin-bottom: 50px;
  }
}

form div {
  margin-bottom: 10px;
}

input[type="email"],
input[type="text"],
input[type="password"] {
  background-color: $light-gray;
  width: 100%;
  padding: 15px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  transition: border-color 0.3s;
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: $main-blue;
  color: #fff;
  max-width: 100%;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid $main-blue;
  border-radius: 3px;
  margin-bottom: 10px;
  transition: all 0.2s ease;
  cursor: pointer;
  &.disabled {
    background-color: $light-gray;
    color: #ccc;
    cursor: not-allowed;
    border: 1px solid $light-gray;
  }
  @media (hover: hover) {
    &:hover {
      color: $main-blue;
      background-color: #fff;
    }
  }
  @media (hover: none) {
    .switch:active {
      color: $main-blue;
      background-color: #fff;
    }
  }
}

input[type="email"]:focus,
input[type="password"]:focus,
form:focus-within {
  outline: none;
  border-color: $main-blue;
}

.for-errors {
  color: red;
  font-size: 15px;
  color: red;
  display: block;
  margin-bottom: 10px;
}

.password-input {
  position: relative;
}

.password-input input {
  padding-right: 2.5rem;
}

.password-input button {
  border: none;
  font-size: 18px;
  position: absolute;
  right: 10px;
  top: 55%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}
